* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8eded;
  text-align: center;
}

section h1 {
  font-family: monospace;
  font-size: 30px;
  color: rgb(73, 63, 6);
}

article {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 7px 28px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.question-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  padding: 20px 30px;
  border-bottom: 1px solid black;
}

.icons-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus {
  position: absolute;
}
/* .add-minus {
  z-index: -20;
} */

.plus {
  position: absolute;
}
/* .add-minus {
  z-index: -20;
} */

article p:last-child {
  text-align: left;
  font-size: 18px;
  padding: 30px 20px;
  /* display: none; */
}
